<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap css -->
        <link rel="stylesheet" href="/css/all.css" type="text/css">
        
        <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
        <title>Título de la Página</title>       	
    </head>

    <body>
        
        {{> menu}}

        {{{ body }}}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/all.js"></script>
        <script>
            $(function(){

                var itemMenu = $("#contenedorPrincipal").data("menu");
                $(".nav-item").removeClass("active");
                $(itemMenu).addClass("active");
            });
        </script>

        {{{_sections.script}}}
    </body>
</html>